
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap');


// Color variables

$primary:       #4d79f6;
$secondary:     #4ac7ec;
$success:       #1ecab8;
$info:          #9ba7ca;
$warning:       #f3c74d;
$danger:        #f1646c;
$light:         #f1f5fa;
$white:         #ffffff;
$dark:          #1a253f;
$muted:         #6c7a9c;
$pink:          #ff5da0;
$purple:        #7551e9;
$blue:          #2b55cc;

$gray-900:      #f3f6f7;
$gray-800:      #eff2f9;
$gray-700:      #848db3;
$gray-600:      #b6c2e4;
$gray-500:      #8997bd;
$gray-400:      #7081b9;
$gray-300:      #50649c;
$gray-200:      #28365f;
$gray-100:      #20294a;


// Body Background
$bg-body:                   #151933;
$body-text:                 #828db1;
$bg-main-wraper:            #1a253f;
$bg-profile:                #060b1b;
$header-title-color:        #eff2f9;
$bg-funfact:                #171f33;

$label:                     #919cbb;
$form-control:              #8997bd;

// Font variables
$font-primary: 'IBM Plex Sans', sans-serif;

// Font Base
$font-size-base:              14px;

// Border
$skill-border:                #1a253f;
$border:                      #283158;